body {
    background-color: #333;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFF;
    margin-top: 20px;
}

canvas {
    border: 2px solid #FFF;
    background-color: #000;
}
